/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #262b5e;
  --ion-color-primary-rgb: 38, 43, 94;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #212653;
  --ion-color-primary-tint: #3c406e;

  --ion-color-secondary: #9dcbef;
  --ion-color-secondary-rgb: 157, 203, 239;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #8ab3d2;
  --ion-color-secondary-tint: #a7d0f1;

	--ion-color-tertiary: #B2435D;
	--ion-color-tertiary-rgb: 178,67,93;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #9d3b52;
	--ion-color-tertiary-tint: #ba566d;

  --ion-color-success: #2fa377;
  --ion-color-success-rgb: 47, 163, 119;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #298f69;
  --ion-color-success-tint: #44ac85;

  --ion-color-warning: #efa948;
  --ion-color-warning-rgb: 239, 169, 72;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d2953f;
  --ion-color-warning-tint: #f1b25a;

  --ion-color-danger: #ef4949;
  --ion-color-danger-rgb: 239, 73, 73;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d24040;
  --ion-color-danger-tint: #f15b5b;

  --ion-color-dark: #3c3a36;
  --ion-color-dark-rgb: 60, 58, 54;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #353330;
  --ion-color-dark-tint: #504e4a;

  --ion-color-medium: #78746d;
  --ion-color-medium-rgb: 120, 116, 109;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #6a6660;
  --ion-color-medium-tint: #86827c;

  --ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}



:root {
  --measure: 70ch;
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --border-thin: 1px;
  --border-thicc: 0.2em;
}

